<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <!--pinterest logo-->
        <img src="https://i.pinimg.com/736x/0f/d8/d4/0fd8d47a73276bcde51b71230df9879e.jpg" alt="pin logo" class="img1" />
        <p class="header">Log in to see more</p>
        <% if(error.length>0){%>
            <p class="error"><%=error%></p>
            <%}%>
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="username" class="detail" /><br />
          <input type="password" name="password" placeholder="password" class="detail" /><br/>
          <input type="submit" name="submit" value="Log In" class="btn int" />
        </form>

        <a href="/">Forgot your password?</a>
        <footer>
          <hr />
          <p>Don't have an account ? <a href="/">sign up</a></p>
        </footer>
      </div>
    </div>
  </body>
</html>
